@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --primary-color: #f60f20;
}
/* BASE STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

section.home {
    flex-direction: row;
    margin-top: 0;
}

/* BUTTON */
.btn {
    cursor: pointer;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    border: 0;
}

.btn:hover {
    transform: scale(0.95);
}

.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

/* TOGGLE MENU */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-color) url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}

.toggle.active {
    background: var(--primary-color) url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

/* NAVIGATION MENU */
.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    font-size: 2.2rem;
    color: #111;
    text-decoration: none;
    font-weight: 300;
}

.navigation ul li a:hover {
    color: var(--primary-color);
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon {
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}

/* HOMEPAGE */
.home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

/* SERVICES PAGE */
.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #1b206e;
}

.services .service .icon img {
    max-width: 100px;
}

@media(max-width: 1068px) {
    .home-img {
        display: none;
    }

    .logo {
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }

    section {
        padding: 100px 40px;
    }

    .navigation ul li a {
        font-size: 2rem;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }
}